@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

main {
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

#left-content {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
  min-width: 40vw;
}

.logo-and-name p {
  font-size: 5rem;
  color: white;
}

#left-content p {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.logo-and-name {
  display: flex;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.384);
}

.logo-and-name img {
  height: 9rem;
}

/* Conteúdo do lado Direito */

#right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  font-family: 'Oswald' sans-serif;
  background-color: rgb(240, 240, 240);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

.text, .submit-section {
  padding: 1vw 2vw;
}

.text {
  font-weight: 500;
  margin-bottom: 8px;
}

.text p:first-child {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 1.2rem 2vw 3rem 2vw;
  letter-spacing: 1px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1.1rem;
}

label {
  position: relative;
  width: 15rem;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: rgb(173, 73, 173);
}

.submit-section {
  margin-top: 2rem;
}

button[type='submit'] {
  padding: .8rem 1.2rem;
  font-size: 1.2rem;
  background-color: rgb(173, 73, 173);
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button[type='submit']:hover {
  background-color: rgb(126, 39, 126);
}

.input-section h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  font-size: .9rem;
  margin-top: 3px;
  
}

input:focus {
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  outline: none;
}

input:invalid:focus {
  border: 2px solid rgb(255, 69, 100)
}

input:focus:valid {
  border: 2px solid rgb(0, 183, 255);
}

.error {
  font-size: .75rem;
  color: rgb(255, 69, 100);
  position: absolute;
}

.submit-section p, .content{
  letter-spacing: 1px;
  font-weight: 300;
}

@media screen and (max-width: 850px){
  main {
    flex-direction: column;
  }

  .text, .input-section, .submit-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  #right-content {
    width: 100vw;
    justify-content: center;
  }
}

@media screen and (max-width: 505px) {
  label {
    margin-bottom: 25px;
  }
}